.logo-small {
    max-width: 50px;
    max-height: 50px;
    margin-left: 10px;
}

.logo-large {
    max-width: 80px;
    max-height: 80px;
}

.logo-login {
    width: 100px;
    height: 100px;
    margin-bottom: 25px;
}

.user-box {
    margin-right: 14px;
    margin-top: 13px;
}

.settings-btn {
    margin-top: 18px;
}

.sub-button {
    margin-right: 14px;
    margin-top: 18px;
}

.error-margin {
    margin-top: 25px;
}

.text-bold {
    font-weight: 700;
}

.light-color {
    color: #c4c4c4;
}

.divider {
    background-color: #fff;
    border-top: 1px dashed #ccc;
}

.divider-full {
    background-color: #fff;
    border-top: 2px solid #666;
}

.text-height {
    min-height: 45px;
    line-height: 23px;
    /*display: flex;
    align-items: center;*/
}

.text-height-big {
    height: 35px;
    line-height: 35px;
}

.text-highlight:hover {
    background-color: #EEEEEE;
}

.margin-bottom-formfield {
    margin-bottom: 5px;
    margin-top: 5px;
}

.lfn {
    text-align: center;
}

.form-row {
    margin-bottom: 10px;
}

.main-container {
    padding-bottom: 40px;
}

.tablePointer {
    cursor: pointer;
}

.tablePointer > tbody > tr > td {
    line-height: 30px;
}

.row-fix {
    margin-left: 0;
}

/*************************************************************/
/*************** START WHEELRACKS AUTOCOMPLETE ***************/
/*************************************************************/

.ui-autocomplete-wheelracks {
    width: 330px !important;
    min-width: 330px !important;
    padding: 6px;
    padding-top: 0;
    padding-bottom: 0;
    background: white;
    max-height: 200px;
    overflow-y: auto;
    counter-reset: section;
    z-index: 2051;
}


/***********************************************************/
/*************** END WHEELRACKS AUTOCOMPLETE ***************/
/***********************************************************/


/* EDISON CUSTOM STYLE */
.ui-autocomplete {
    max-width: 33%;
    padding: 6px;
    padding-top: 0;
    padding-bottom: 0;
    background: white;
    max-height: 200px;
    overflow-y: auto;
    counter-reset: section;
    z-index: 2051;
}

.ui-menu-item a{
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;
}

.ui-menu-item a:hover{
    background: #eee;
}

.ui-menu-item a:before{
    content: counter(section);
    counter-increment: section;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #009999;
    color:white;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

.ui-menu-item a:after{
    position: absolute;
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}

.ui-menu-item a:hover:after{
    left: -.5em;
    border-left-color: #009999;
}


textarea[data-key] {
    height: 122px;
    resize:none;
}

body {
    counter-reset: optCount;
}
.vehicleList #vehicleList:before {
    counter-increment: optCount;
    content: counter(optCount)+' ';
}
.bold {
    font-weight: bold;
}
.vehicleList span.glyphicon-plus{
    color:#009999
}
.vehicleList span.glyphicon-minus {
    color:red;
}
/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


#assignmentList tr:hover {
    background-color: #CCE7E7;
}
#invoiceList tr:hover {
    background-color: #CCE7E7;
}
.inner-addon.right-addon {
    margin-right: 1px;
}

.list-menu-button {
    border-radius: 20px;
    width: 30px;
    height: 30px;
    line-height: 36px;
    text-align: center;
    background-color: #009999;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;

}

.list-menu-button:hover {
    background-color: #666666;
    border-radius: 0;
    -moz-transition: all 0.2s ease-in 0s;
    -webkit-transition: all 0.2s ease-in 0s;
    -o-transition: all 0.2s ease-in 0s;
    transition: all 0.2s ease-in 0s;
}

.list-menu-button span i {
    font-size: 20px;
    color: #FFF;
}


/* RACK HOVER TABLECELL */
.racks tbody tr td:hover {

}


/* RACK DATAWINDOW */
.wheelDataWindowBtn {
    position: absolute;
    background-color: #fff;
    font-size: 22px;
    border-radius: 50%;
    right: 5px;
    bottom: 5px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.1s ease-out 0s;
    -o-transition: all 0.1s ease-out 0s;
    transition: all 0.1s ease-out 0s;
}

.wheelDataWindowBtn:hover {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0);
    -moz-transition: all 0.1s ease-in 0s;
    -webkit-transition: all 0.1s ease-in 0s;
    -o-transition: all 0.1s ease-in 0s;
    transition: all 0.1s ease-in 0s;
    cursor: pointer;
    color: #FFF;
    background-color: #009999;
}

#wheelDataWindow {
    background-color: #FFF;
    position: fixed;
    top: 30%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    width: 300px;
    height: auto;
    display: none;
    border: 5px solid #009999;
    z-index: 10000;
}

.draggableItem:hover {
    cursor: grab;
}

.dragHoverActiv {
    z-index: 10;
    background: #FFF;
    border: 2px #CCC dashed !important;
    cursor: grab;
}
.activeDrag {
    border:5px solid red;
    z-index: 10;
}
.dropAreaActive {
    background: #ccc;
}
.dragHoverActive {
    background: lightblue;
}
#wheelDataWindow ul {
    list-style-type: none;
    padding-left: 10px;
    padding-top: 5px;
}

#wheelDataWindow ul li {
    border-bottom: 1px dotted #009999;
    height: 25px;
    line-height: 25px;
    margin-right: 10px;
}

#wheelDataWindow ul li:last-of-type {
    border: 0;
}

#wheelDataWindow ul li span:first-of-type {
    width: 150px;
    display: block;
    float: left;
    font-weight: bold;
}

.activeToggle {
    background: #027a7a !important;
    border:1px solid #027a7a;
    border-radius: 0 !important;
}
.toggleButtons {
}


.custmBTN01 {
    background-color: #009999;
    border-color: #009999;
    color: #FFFFFF;
    border-radius: 0 !important;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: -5px;
    margin-bottom: 12px !important;
}