body,html {
		margin:0;
		padding:0;
		color:#000;
		background: #CCCCCC;
	}
	
	a:link { color:#333; text-decoration:none; font-family: Trebuchet MS; }
	a:visited { color:#333; text-decoration:none; font-family: Trebuchet MS; }
	a:focus { color:#333; text-decoration:none; font-family: Trebuchet MS; }
	a:hover { color:#333; text-decoration:underline; font-family: Trebuchet MS; }
	a:active { color:#333; text-decoration:none; font-family: Trebuchet MS; }	
	
	#wrap {
		width:1200px;
		margin:0 auto;
		background:#333;
	}
	
	#header {
    	padding:5px 10px;
		background:#000000;
		height: 100px;
	}
	
	#header .logo {
		margin-left: 10px; 
		margin-top:10px; 
		float: left;
	}
	
	#infoBox {
		float: right; 
		margin: 9px 10px 10px 0; 
		padding: 5px 5px 5px 5px; 
		width: 190px; 
		height: 70px; 
		background-color: #333333; 
		border-radius: 13px; 
		border: #FFFFFF solid 1px;
	}
	
	#infoBox a {
		color: #FFF;
		text-decoration: none;
	}
	
	#infoBox a:hover {
		text-decoration: underline;
	}

	
	h1 {
	    margin:0;
	    padding: 0;
	    font-family: Trebuchet MS;
	    font-size: 18px;
	    color: #333333;
	    line-height: 40px;
    }

	h2 {
	    margin:0;
	    padding: 0;
	    font-family: Trebuchet MS;
	    font-size: 14px;
	    color: #333333;
	    line-height: 40px;
    }
    
    .boldP {
    	color: #333; 
    	font-size: 12px;
    	font-family: Trebuchet MS;
    	text-decoration: none;
    	font-weight: bold;
    	padding: 5px;
    }
    
    .regularP {
    	color: #333; 
    	font-size: 12px;
    	font-family: Trebuchet MS;
    	text-decoration: none;
    	padding: 5px;
    }
    
    .regularUL {
       	color: #333; 
    	font-size: 12px;
    	font-family: Trebuchet MS;
    	text-decoration: none;
    	padding: 5px;
    	list-style-type: square;
    	margin-left: 15px;
    }
    
    .regularUL a {
    	color: #333;
    }
    
    #menu li {
    	list-style-type: none;
        width: 200px;
        padding: 2px;
        margin-left: -40px;
        font-family: Trebuchet MS;
        font-size: 12px; 
        color: #333333;
        border-radius: 3px;
    }

	#menu li a {
		color: #333333;
        text-decoration: none;
        display: block;
    }

	#menu li:hover {
		background-color: #333333;
	}

	#menu li a:hover {
		color: #CCCCCC;
	}

    #menu_2 li {
    	list-style-type: none;
        width: 200px;
        padding: 2px;
        margin-left: -40px;
        font-family: Trebuchet MS;
        font-size: 12px; 
        color: #333333;
        border-radius: 3px;
    }
    
	#nav {
		padding:5px 10px;
		height: 30px;
		background-color: #999999; 
	}
	
	#nav ul {
		margin:0 0 0 210px;
		padding:0;
		list-style:none;
	}
	
	#nav li {
		display: inline;
		margin: 0 0 0 20px;
		padding: 0;
		font-family: Trebuchet MS;
		font-size: 12px;
		color: #FFFFFF;
	}
	
	#nav li a {
	
		color: #FFFFFF;
		text-decoration: none;
	
	}

	#nav li a:hover {
	
		color: #FFFFFF;
		text-decoration: underline;
	
	}
	
	#main {
		float:right;
		width:950px;
		padding:10px;
		border-left: solid 1px #999999;
	}
	
	#sidebar {
		float:left;
		width:200px;
		padding:10px;
	}
	
	#footer {
		clear:both;
		padding:5px 10px;
		background-color: #999999;
		height: 30px;
	}
	
	#footer p {
		margin:0;
    }
    
	* html #footer {
		height:1px;
	}
	
	label {
	float:left;
	display:block;
	width:200px;
	}
	
	#overlay {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px; 
    margin-top: -50px; 
	}